<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>

<body style="background: #edf2f7;">
    <div layout:fragment="content">
        <div class="mt-3 pr-16 flex justify-end content-end">
            <a th:href="@{/admin/client/form}" class="px-3 py-1 ml-10 cursor-pointer text-white bg-blue-600 border border-1 transition-colors border-blue-600 rounded hover:bg-white hover:text-blue-600">Nouveau</a>
        </div>
        <div class="h-full overflow-hidden flex items-center justify-center">
            <form method="get" th:action="@{/admin/client}" class="w-auto rounded-lg px-4 py-3 mt-4 text-gray-500 border bg-white dark:border-gray-700 dark:text-gray-400 dark:bg-gray-900">
                <div  class="inline-flex mt-1 w-full justify-center">
                    <label for="phone" class=" mr-4 block mb-2 font-medium text-gray-900 dark:text-white">Téléphone :</label>
                    <input type="text" th:value="${phone}" name="phone" id="phone" class="border border-gray-400 rounded px-3 py-1 text-black outline-0">
                    <button type="submit" class="px-3 py-1 ml-10 text-white bg-blue-600 border border-1 border-blue-600 rounded hover:bg-white hover:text-blue-600">Rechercher</button>
                </div>
            </form>
        </div>

        <div class="h-full overflow-hidden flex items-center justify-center">
            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-4">
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nom et Prénom</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Telephone</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Adresse</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Etat</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Commande</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    <tr class="hover:bg-gray-50" th:each="cl:${clients}">
                        <td class="px-6 py-4" th:text="${cl.nomComplet}"></td>
                        <td class="px-6 py-4" th:text="${cl.telephone}"></td>
                        <td class="px-6 py-4"th:text="${cl.adresse}"></td>
                        <td class="px-6 py-4" >
                          <span class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold bg-green-50 text-green-600">
                            <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>Active
                          </span>
                        </td>
                        <!--td class="px-6 py-4" th:if="${cl.active==false}">
                          <span class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold bg-red-50 text-red-600">
                            <span class="h-1.5 w-1.5 rounded-full bg-red-600"></span>Inactive
                          </span>
                        </td-->
                        <td class="px-6 py-4">
                            <a th:href="@{/client/commandes/client/{id}(id=${cl.id})}" class="rounded-md border-2 border-orange-600 px-6 py-1 font-medium text-orange-600 transition-colors hover:bg-orange-600 hover:text-white">Voir+</a>
                        </td>
                        <td class="px-6 py-4">
                            <a th:href="@{/admin/commande/form/client/{id}(id=${cl.id})}" class="rounded-md border-2 border-blue-600 px-6 py-1 font-medium text-blue-600 transition-colors hover:bg-blue-600 hover:text-white">New Cmde</a>
                        </td>
                        <!--td class="px-6 py-4">
                            <div class="flex justify-end gap-4">
                                <a href="#">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="h-6 w-6"
                                            x-tooltip="tooltip"
                                    >
                                        <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                        />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="h-6 w-6"
                                            x-tooltip="tooltip"
                                    >
                                        <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </td-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <ol class="flex justify-center gap-1 text-xs font-medium" th:if="${nbrePage>1}">
            <li th:if="${currentPage>0}">
                <a th:href="@{/admin/client(page=${currentPage -1},phone=${phone})}"
                   class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-gray-300">
                    <span class="sr-only">Prev Page</span>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"
                        />
                    </svg>
                </a>
            </li>

            <li th:each="p,status:${pages}">
                <a th:text="${status.index +1}"
                   th:class="${status.index==currentPage? 'block h-8 w-8 rounded border text-center leading-8 border-blue-600 bg-blue-600 text-white' : 'block h-8 w-8 rounded border text-center leading-8 border-gray-100 bg-white text-gray-900 hover:bg-gray-300'}"
                   th:href="@{/admin/client(page=${status.index},phone=${phone})}"
                ></a>
            </li>

            <!--li class="block h-8 w-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
                2
            </li-->

            <li th:if="${currentPage<nbrePage -1}">
                <a
                        th:href="@{/admin/client(page=${currentPage+1},phone=${phone})}"
                        class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-gray-300"
                >
                    <span class="sr-only">Next Page</span>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"
                        />
                    </svg>
                </a>
            </li>
        </ol>
    </div>
</body>

</html>